page-book-your-ride {
    #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: block;
      }

    //   #map #infowindow-content {
    //     display: inline;
    //   }
    #map{
        height: 100px;
        width: 100%;
    }
}
.card-header-md + .card-content-md{
    border-top: 1px solid #ddd;
}
.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
    width:90px;
    height:auto;
}